APP_NAME="todo"
PORT=4000
APP_ENV="local"

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=todoDB
DB_SYNC=true

JWT_SECRET_KEY=Wm9uZWx5cHJvamVjdEF1dGhJc3N1ZXJLZXlib2xsd2Rvd2lkbndvCg==
JWT_ISSUER_KEY=Wm9uZWx5cHJvamVjdEF1dGhzZWNLZXkK
JWT_EXPIRY=1d